*
{
  margin:0px;
  padding:0px;

  user-select:none; /* Chrome and Opera */
  -webkit-user-select:none; /* Safari */
  -moz-user-select:none; /* Firefox */
}

body
{
  background:gray;
  overflow:hidden;
}

#outer
{
  display:flex;
  justify-content:center;
  height:100%;
  align-items:center;
}

#inner
{
}

#board
{
  width:100%;
  height:100%;

  cursor:default;
}

#info
{
  position:absolute;
  left:50px;
  bottom:50px;
}

#arsenal, #found, #record, #status
{
  font-size:30px;
}